:root, html, body {
  font-size: 16px;
}

/* sizing variables */
:root {
  --padding-normal: 0.5rem;
  --padding-small: calc(var(--padding-normal) * 0.5);
  --padding-xsmall: calc(var(--padding-normal) * 0.25);
  --padding-xxsmall: calc(var(--padding-normal) * 0.125);
  --padding-large: calc(var(--padding-normal) * 1.5);
  --padding-xlarge: calc(var(--padding-normal) * 2.0);
  --padding-xxlarge: calc(var(--padding-normal) * 3.0);

  --size-border-radius: 0.5rem;

  --app-column-max-width: 55rem;
  --component-project-item-size: calc((var(--app-column-max-width) / 3.0) - (2.0 * var(--padding-xxlarge)));

  --component-layer-padding: var(--padding-normal) var(--padding-xxlarge);
  --component-layer-gap: var(--padding-xxlarge);
}

@media only screen and (max-width: 35rem) {
  :root {
    --component-layer-padding: var(--padding-normal);
  }
}

/* animation variables */
:root {
  --anim-transition-duration: 0.2s;
  --anim-transition-timing-function: ease-out;
  --anim-transition: var(--anim-transition-duration) var(--anim-transition-timing-function);
}

/* TODO: Audit use of wildcard selector in base styles, clearing padding/margin.
 * Exclude MathML Elements: https://developer.mozilla.org/docs/Web/MathML/Reference/Element
 */
*:not(math, maction, annotation, annotation-xml, menclose, merror, mfenced, mfrac, mi, mmultiscripts, mn, mo, mover, mpadded,
      mphantom, mprescripts, mroot, mrow, ms, semantics, mspace, msqrt, mstyle, msub, msup, msubsup, mtable, mtd, mtext, mtr,
      munder, munderover) {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
}

body {
  display: flex;
  flex-direction: column;
  place-items: start;
  align-items: stretch;
  min-height: 100vh;
  transition:
    color var(--anim-transition),
    background-color var(--anim-transition);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  text-align: initial;
  padding-inline-start: var(--padding-xxlarge);

  &.list-none {
    list-style: none;
  }
}

.error,
merror {
  background-color: hsl(var(--hue-error), 60%, 65%);
  color: var(--theme-black);
}

.centered {
  text-align: center;
  align-self: center;
}

.round {
  border-radius: var(--size-border-radius);
}

.capitalize {
  text-transform: capitalize;
}

.nowrap {
  white-space: nowrap;
}

.rows {
  display: flex;
  flex-direction: column;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gap-xxs  { gap: var(--padding-xxsmall);  }
.gap-xs   { gap: var(--padding-xsmall);   }
.gap-s    { gap: var(--padding-small);    }
.gap      { gap: var(--padding-normal);   }
.gap-l    { gap: var(--padding-large);    }
.gap-xl   { gap: var(--padding-xlarge);   }
.gap-xxl  { gap: var(--padding-xxlarge);  }
