
:root, html, body {
  font-size: 14px;
}

@function --button-hover(--base-color) {
  result: light-dark(hsl(from var(--base-color) h s calc(l - 10)),
                     hsl(from var(--base-color) h s calc(l + 10)));
}
@function --button-active(--base-color) {
  result: light-dark(hsl(from var(--base-color) h s calc(l - 5)),
                     hsl(from var(--base-color) h s calc(l + 5)));
}
@function --button-selected(--base-color) {
  result: light-dark(hsl(from var(--base-color) h s calc(l + 15)),
                     hsl(from var(--base-color) h s calc(l - 15)));
}
@function --button-disabled(--base-color) {
  result: hsl(from var(--base-color) h 0 l);
}

/* color themes */
:root {
  --theme-white: #F8FAFC;
  --theme-black: #181818;

  /* Light Theme Background Colors */
  --theme-background-light-1: #c2e2ea;
  --theme-background-light-2: #dceef3;
  --theme-background-button-light-1: #6C87BC;
  /* Dark Theme Background Colors */
  --theme-background-dark-1: #0d1b2a;
  --theme-background-dark-2: #1b263b;
  --theme-background-button-dark-1: #718CBE;

  --theme-text-light-1: var(--theme-black);
  --theme-text-light-2: #8E3B46;
  --theme-text-button-light: var(--theme-black);
  --theme-text-dark-1: var(--theme-white);
  --theme-text-dark-2: #f4bc6c;
  --theme-text-button-dark: var(--theme-black);

  --theme-link-light-1: #1e2be1;
  --theme-link-light-2: #73BDDD;
  --theme-link-light-3: #1E8CE1;
  --theme-link-dark-1: #1E8CE1;
  --theme-link-dark-2: #20688B;
  --theme-link-dark-3: #1E2BE1;

  --theme-divider-light: #72bbce;
  --theme-divider-dark: #415a77;
}

/* semantic color variables */
:root {
  --color-background:                 light-dark(var(--theme-background-light-1),         var(--theme-background-dark-1));
  --color-background-soft:            light-dark(var(--theme-background-light-2),         var(--theme-background-dark-2));
  --color-background-button:          light-dark(var(--theme-background-button-light-1),  var(--theme-background-button-dark-1));
  --color-background-button-hover:    --button-hover(var(--color-background-button));
  --color-background-button-active:   --button-active(var(--color-background-button));
  --color-background-button-selected: --button-selected(var(--color-background-button));
  --color-background-button-disabled: --button-disabled(var(--color-background-button));
  --color-text:                       light-dark(var(--theme-text-light-1),               var(--theme-text-dark-1));
  --color-text-button:                light-dark(var(--theme-text-button-light),          var(--theme-text-button-dark));
  --color-text-heading:               light-dark(var(--theme-text-light-2),               var(--theme-text-dark-2));
  --color-link:                       light-dark(var(--theme-link-light-1),               var(--theme-link-dark-1));
  --color-link-hover:                 light-dark(var(--theme-link-light-2),               var(--theme-link-dark-2));
  --color-link-active:                light-dark(var(--theme-link-light-3),               var(--theme-link-dark-3));
  --color-divider:                    light-dark(var(--theme-divider-light),              var(--theme-divider-dark));
  --color-scrollbar:                  light-dark(var(--theme-divider-light),              var(--theme-divider-dark));

  /**
   * Info, Question, Warning, and Error Cards.
   * Try to keep these unified across light/dark.
   */
  --overlay-card-saturation:          60%;
  --overlay-card-lightness:           65%;
  --overlay-heading-saturation:       60%;
  --overlay-heading-lightness:        15%;

  --color-background-info:            hsl(225, var(--overlay-card-saturation), var(--overlay-card-lightness));
  --color-background-question:        hsl(120, var(--overlay-card-saturation), var(--overlay-card-lightness));
  --color-background-warn:            hsl(60, var(--overlay-card-saturation), var(--overlay-card-lightness));
  --color-background-error:           hsl(0, var(--overlay-card-saturation), var(--overlay-card-lightness));
  --color-text-info:                  var(--theme-black);
  --color-text-question:              var(--theme-black);
  --color-text-warn:                  var(--theme-black);
  --color-text-error:                 var(--theme-black);
  --color-text-heading-info:          hsl(from var(--color-background-info) h var(--overlay-heading-saturation) var(--overlay-heading-lightness));
  --color-text-heading-question:      hsl(from var(--color-background-question) h var(--overlay-heading-saturation) var(--overlay-heading-lightness));
  --color-text-heading-warn:          hsl(from var(--color-background-warn) h var(--overlay-heading-saturation) var(--overlay-heading-lightness));
  --color-text-heading-error:         hsl(from var(--color-background-error) h var(--overlay-heading-saturation) var(--overlay-heading-lightness));
}

/* sizing variables */
:root {
  --padding-normal: 0.5rem;
  --padding-small: calc(var(--padding-normal) * 0.5);
  --padding-xsmall: calc(var(--padding-normal) * 0.25);
  --padding-xxsmall: calc(var(--padding-normal) * 0.125);
  --padding-large: calc(var(--padding-normal) * 1.5);
  --padding-xlarge: calc(var(--padding-normal) * 2.0);
  --padding-xxlarge: calc(var(--padding-normal) * 3.0);

  --size-border-radius: 0.5rem;
}

/* animation variables */
:root {
  --anim-transition-duration: 0.2s;
  --anim-transition-timing-function: ease-out;
  --anim-transition: var(--anim-transition-duration) var(--anim-transition-timing-function);
}

/* TODO: Audit use of wildcard selector in base styles, clearing padding/margin.
 * Exclude MathML Elements: https://developer.mozilla.org/en-US/docs/Web/MathML/Reference/Element
 */
*:not(math, maction, annotation, annotation-xml, menclose, merror, mfenced, mfrac, mi, mmultiscripts, mn, mo, mover, mpadded,
      mphantom, mprescripts, mroot, mrow, ms, semantics, mspace, msqrt, mstyle, msub, msup, msubsup, mtable, mtd, mtext, mtr,
      munder, munderover) {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
}

:root {
  /* Nearly all pages need a scrollbar, however for the few pages that don't reserving
   * space for the vertical scrollbar prevents layout from "popping" during navigation.
   * Also fixes similar popping issues related to components with conditional rendering.
   */
  overflow-y: scroll;
  scrollbar-color: var(--color-scrollbar) transparent;
}

body {
  display: flex;
  flex-direction: column;
  place-items: start;
  align-items: stretch;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color var(--anim-transition),
    background-color var(--anim-transition);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  font-weight: bold;
}

:is(b, h1, h2, h3, h4, h5, h6, figcaption) {
  color: var(--color-text-heading);
  .info &       { color: var(--color-text-heading-info); }
  .question &   { color: var(--color-text-heading-question); }
  .warn &       { color: var(--color-text-heading-warn); }
  .error &      { color: var(--color-text-heading-error); }
}

ul, ol {
  text-align: initial;
  padding-inline-start: var(--size-list-indentation);

  &.list-none {
    list-style: none;
  }
}

.error,
merror {
  background-color: hsl(var(--hue-error), 60%, 65%);
  color: var(--theme-black);
}

:any-link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-link);
  padding: 0 var(--size-padding-hard);
  transition: color var(--anim-transition);
  &:hover {
    color: var(--color-link-hover);
  }
  &:active {
    color: var(--color-link-active);
  }
}

.framed {
  border: var(--size-border);
}

.centered {
  text-align: center;
  align-self: center;
}

.round {
  border-radius: var(--size-border-radius);
}

.capitalize {
  text-transform: capitalize;
}

.nowrap {
  white-space: nowrap;
}

.rows {
  display: flex;
  flex-direction: column;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gap-xxs  { gap: var(--padding-xxsmall);  }
.gap-xs   { gap: var(--padding-xsmall);   }
.gap-s    { gap: var(--padding-small);    }
.gap      { gap: var(--padding-normal);   }
.gap-l    { gap: var(--padding-large);    }
.gap-xl   { gap: var(--padding-xlarge);   }
.gap-xxl  { gap: var(--padding-xxlarge);  }
