/* color themes */
:root {
  --theme-white: #F8FAFC;
  --theme-black: #181818;

  --theme-background-light-1: #c2e2ea;
  --theme-background-light-2: #dceef3;
  --theme-background-button-light-1: #6C87BC;
  --theme-background-button-light-2: #456197;
  --theme-background-button-light-3: #607DB6;
  --theme-background-button-light-4: #B8C6DF;
  --theme-background-warn-light: #e2e671;
  --theme-background-error-light: #DA6C6C;
  --theme-background-dark-1: #0d1b2a;
  --theme-background-dark-2: #1b263b;
  --theme-background-button-dark-1: #718CBE;
  --theme-background-button-dark-2: #97ABCF;
  --theme-background-button-dark-3: #748EBF;
  --theme-background-button-dark-4: #425D90;
  --theme-background-warn-dark: #e2e671;
  --theme-background-error-dark: #DA6C6C;

  --theme-text-light-1: var(--theme-black);
  --theme-text-light-2: #8E3B46;
  --theme-text-button-light: var(--theme-black);
  --theme-text-warn-light: var(--theme-black);
  --theme-text-error-light: var(--theme-black);
  --theme-text-dark-1: var(--theme-white);
  --theme-text-dark-2: #C1E1C1;
  --theme-text-button-dark: var(--theme-white);
  --theme-text-warn-dark: var(--theme-black);
  --theme-text-error-dark: var(--theme-black);

  --theme-link-light-1: #1e2be1;
  --theme-link-light-2: #73BDDD;
  --theme-link-light-3: #1E8CE1;
  --theme-link-dark-1: #1E8CE1;
  --theme-link-dark-2: #20688B;
  --theme-link-dark-3: #1E2BE1;

  --theme-divider-light: #72bbce;
  --theme-divider-dark: #415a77;
}

/* semantic color variables for this project */
:root {
  --color-background:                 light-dark(var(--theme-background-light-1),         var(--theme-background-dark-1));
  --color-background-soft:            light-dark(var(--theme-background-light-2),         var(--theme-background-dark-2));
  --color-background-button:          light-dark(var(--theme-background-button-light-1),  var(--theme-background-button-dark-1));
  --color-background-button-hover:    light-dark(var(--theme-background-button-light-2),  var(--theme-background-button-dark-2));
  --color-background-button-active:   light-dark(var(--theme-background-button-light-3),  var(--theme-background-button-dark-3));
  --color-background-button-selected: light-dark(var(--theme-background-button-light-4),  var(--theme-background-button-dark-4));
  --color-background-warn:            light-dark(var(--theme-background-warn-light),      var(--theme-background-warn-dark));
  --color-background-error:           light-dark(var(--theme-background-error-light),     var(--theme-background-error-dark));
  --color-text:                       light-dark(var(--theme-text-light-1),               var(--theme-text-dark-1));
  --color-text-button:                light-dark(var(--theme-text-button-light),          var(--theme-text-button-dark));
  --color-text-heading:               light-dark(var(--theme-text-light-2),               var(--theme-text-dark-2));
  --color-text-warn:                  light-dark(var(--theme-text-warn-light),            var(--theme-text-warn-dark));
  --color-text-error:                 light-dark(var(--theme-text-error-light),           var(--theme-text-error-dark));
  --color-link:                       light-dark(var(--theme-link-light-1),               var(--theme-link-dark-1));
  --color-link-hover:                 light-dark(var(--theme-link-light-2),               var(--theme-link-dark-2));
  --color-link-active:                light-dark(var(--theme-link-light-3),               var(--theme-link-dark-3));
  --color-divider:                    light-dark(var(--theme-divider-light),              var(--theme-divider-dark));
  --color-scrollbar:                  light-dark(var(--theme-divider-light),              var(--theme-divider-dark));
}

/* sizing variables */
:root {
  --size-column-width: 45rem;
  --size-border-frame: 4px;
  --size-border-radius: 0.5rem;
  --size-padding-round: var(--size-border-radius);
  --size-padding-hard: calc(var(--size-padding-round) / 2);
  --size-list-indentation: 1.5rem;
  --size-column-padding: 1rem 1.5rem;
}

/* animation variables */
:root {
  --anim-transition-duration: 0.2s;
  --anim-transition-timing-function: ease-out;
  --anim-transition: var(--anim-transition-duration) var(--anim-transition-timing-function);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

:root {
  scrollbar-color: var(--color-scrollbar) transparent;
}

body {
  display: flex;
  flex-direction: column;
  place-items: start;
  align-items: stretch;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color var(--anim-transition),
    background-color var(--anim-transition);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-heading);
}

ul, ol {
  text-align: initial;
  padding-inline-start: var(--size-list-indentation);
}

.warn {
  background-color: var(--color-background-warn);
  color: var(--color-text-warn);
}

.error,
merror {
  background-color: var(--color-background-error);
  color: var(--color-text-error);
}

:any-link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-link);
  padding: 0 var(--size-padding-hard);
  transition: color var(--anim-transition);
  &:hover {
    color: var(--color-link-hover);
  }
  &:active {
    color: var(--color-link-active);
  }
}

.framed {
  border: var(--size-border-frame) solid var(--color-divider);
}
