@import './base.css';

.app {
  --size-app-column-width: 55rem;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: var(--size-app-column-width);

  & > main {
    flex: 1;
  }
}

@font-face {
    font-family: 'STIX-Two-Math';
    src: url('@/assets/fonts/stixfonts-2.13b171/static_otf_woff2/STIXTwoMath-Regular.woff2') format('opentype');
}

math {
  font-family: STIX-Two-Math;
}

article {
  container: article / inline-size;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: var(--padding-xxlarge);
  padding: var(--padding-xxlarge) var(--padding-xlarge);
}
