@import './theme.css';
@import './base.css';

@font-face {
    font-family: 'STIX-Two-Math';
    src: url('@/assets/fonts/stixfonts-2.13b171/static_otf_woff2/STIXTwoMath-Regular.woff2') format('opentype');
}

math {
  font-family: STIX-Two-Math;
}

article {
  container: article / inline-size;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: var(--padding-xxlarge);
  padding: var(--padding-xxlarge) var(--component-layer-padding);
}
